.board {
  margin: 1rem auto;
  width: fit-content;
  user-select: none;
}

.size5 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(5, 2.5rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(5, 2.5rem);
  }

  & .singleHelp {
    font-size: 1.4rem;
  }
}

.size10 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(10, 2rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(10, 2rem);
  }

  & .singleHelp {
    font-size: 1.2rem;
  }
}

.size15 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(15, 1.8rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(15, 1.8rem);
  }

  & .singleHelp {
    font-size: 1.1rem;
  }
}

.size20 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(20, 1.6rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(20, 1.6rem);
  }

  & .singleHelp {
    font-size: 1rem;
  }
}

.size25 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(25, 1.4rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(25, 1.4rem);
  }

  & .singleHelp {
    font-size: 0.9rem;
  }
}

.content {
  display: grid;
  grid-template: auto auto / auto auto;
}

.helpColumn {
  display: grid;
  gap: 2px;
  grid-column-start: 2;
  width: 100%;
  margin-bottom: 0.4rem;

  & .singleHelp {
    flex-direction: column;
  }
}

.helpRow {
  display: grid;
  gap: 2px;
  height: 100%;
  margin-right: 0.6rem;
}

.singleHelp {
  align-items: center;
  color: var(--color-first);
  display: flex;
  font-weight: 600;
  gap: .4rem 0.8rem;
  justify-content: flex-end;

  & .ok {
    color: var(--color-third);
  }
}

.cells {
  display: grid;
  width: fit-content;
  background: var(--color-second);
  gap: 2px;
  padding: 2px;

  & .cell {
    border-color: var(--color-third);
    border-style: solid;
    border-width: 0 2px 2px 0;
    margin: 0 -2px -2px 0;
    
    &.gapRight {
      border-right: none;
      margin-right: 0;
    }
    
    &.gapBottom {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
