.board {
  padding: 1rem;
  width: fit-content;
  user-select: none;
  display: flex;
  align-items: flex-end;
  gap: 1rem;

  &.size5 {
    --puzzle-size: 5;
    font-size: 1.9rem;
  }

  &.size10 {
    --puzzle-size: 10;
    font-size: 1.7rem;
  }

  &.size15 {
    --puzzle-size: 15;
    font-size: 1.4rem;
  }

  &.size20 {
    --puzzle-size: 20;
    font-size: 1.3rem;
  }
}

.cells, .cluesColumns {
  grid-template-columns: repeat(var(--puzzle-size), 1.3em);
}

.cells, .cluesRows {
  grid-template-rows: repeat(var(--puzzle-size), 1.3em);
}

.cluesLine {
  font-size: 0.8em;
}

.content {
  display: grid;
  grid-template: auto auto / auto auto;
}

.cluesColumns {
  box-sizing: border-box;
  display: grid;
  gap: 2px;
  grid-column-start: 2;
  width: 100%;
  padding: 0 2px;

  & .cluesLine {
    flex-direction: column;
    padding: 0.6em 0;

    &.hover {
      background: linear-gradient(transparent, var(--color-fifth_transparent));
    }
  }
}

.cluesRows {
  box-sizing: border-box;
  display: grid;
  gap: 2px;
  height: 100%;
  padding: 2px 0;
}

.cluesLine {
  align-items: center;
  color: var(--color-first);
  display: flex;
  font-weight: 600;
  gap: 0.6em 0.85em;
  justify-content: flex-end;
  padding: 0 0.8em;

  &.hover {
    background: linear-gradient(to right, transparent, var(--color-fifth_transparent));
  }

  & .ok {
    color: var(--color-third);
  }
}

.cells {
  display: grid;
  width: fit-content;
  background: var(--color-second);
  gap: 2px;
  padding: 2px;

  & .cell {
    border-color: var(--color-third);
    border-style: solid;
    border-width: 0 2px 2px 0;
    margin: 0 -2px -2px 0;

    & button {
      box-shadow: inset 0 0 0 1em transparent;
      transition: box-shadow 0.1s ease;
    }
    
    &.gapRight {
      border-right: none;
      margin-right: 0;
    }
    
    &.gapBottom {
      border-bottom: none;
      margin-bottom: 0;
    }
    
    &.hover button {
      box-shadow: inset 0 0 0 1em var(--color-fifth_transparent);
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}