.button {
  align-items: center;
  background: var(--color-white);
  border-radius: 9999px;
  border: 2px solid var(--color-white);
  box-shadow: 0 0 0 0 transparent;
  color: var(--color-first);
  cursor: pointer;
  display: grid;
  font-size: 1rem;
  font-weight: 400;
  grid-auto-flow: column;
  justify-content: center;
  line-height: 1;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  transition: box-shadow 0.25s cubic-bezier(.3,1.5,.5,1.5);
  position: relative;
  gap: 0.5rem;

  &:not(:focus-visible):focus {
    outline: none
  }

  &:hover {
    box-shadow: 0 0 0 0.5rem var(--color-white_transparent);
  }
}

.primary {
  background: var(--color-first);
  border-color: var(--color-first);
  color: var(--color-white);

  &:hover {
    box-shadow: 0 0 0 0.5rem var(--color-first_transparent);
  }
}

.secondary {
  background: var(--color-fourth);
  border-color: var(--color-fourth);
  color: var(--color-white);

  &:hover {
    box-shadow: 0 0 0 0.5rem var(--color-fourth_transparent);
  }
}

.outlined {
  background: transparent;
  border-color: var(--color-white);
  color: var(--color-white);
}
  
.outlined.primary {
  border: 2px solid var(--color-first);
  color: var(--color-first);
}
  
.outlined.secondary {
  border: 2px solid var(--color-fourth);
  color: var(--color-fourth);
}

.disabled {
  cursor: default;
  opacity: 0.7;

  &:hover {
    box-shadow: none;
  }
}

.large {
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
}

.asIcon {
  display: flex;
  padding: 0.3rem;
  height: calc(2rem + 4px);
  width: calc(2rem + 4px);
}

.large.asIcon {
  padding: 0.6rem;
  height: calc(3rem + 4px);
  width: calc(3rem + 4px);
}
