.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0;
  border: none;
  bottom: 0;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 0.4rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.button:focus {
  outline: none;
}

.blocked {
  cursor: default;
}

.filled {
  background-color: var(--color-sixth);

  &.crossable {
    background-color: var(--color-first);
  }
}
