.clues.columns {
  box-sizing: border-box;
  display: grid;
  gap: 2px;
  grid-column-start: 2;
  width: 100%;
  padding: 0 2px;
  grid-template-columns: repeat(var(--puzzle-size), 1.3em);

  & .line {
    align-self: end;
    flex-direction: column;
    padding: 0.6em 0;
    grid-auto-flow: row;
    height: fit-content;
    width: auto;
  }

  & .hover {
    background: linear-gradient(transparent, var(--color-fifth_transparent));
  }
}

.columns.alt .hover {
  background: linear-gradient(transparent, var(--color-third_transparent));
}

.clues.rows {
  box-sizing: border-box;
  display: grid;
  gap: 2px;
  height: 100%;
  padding: 2px 0;
  grid-template-rows: repeat(var(--puzzle-size), 1.3em);

  & .line {
    flex-direction: row;
    justify-self: end;
    padding: 0 0.7em;
    grid-auto-flow: column;
    height: auto;
    width: fit-content;
  }

  & .hover {
    background: linear-gradient(to right, transparent, var(--color-fifth_transparent));
  }
}

.rows.alt .hover {
  background: linear-gradient(to right, transparent, var(--color-third_transparent));
}

.line {
  align-items: center;
  color: var(--color-first);
  display: grid;
  font-size: 0.8em;
  font-weight: 600;
  gap: 0.5em 0.75em;
  text-align: center;
}

.alt .line {
  color: var(--color-fourth);
}

.ok {
  color: var(--color-third);
}

.alt .ok {
  color: var(--color-fifth);
}