.create {
  padding: 1rem;
  text-align: center;
}

.buttons {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 16rem;
}

.footer {
  color: var(--color-sixth);
  margin-bottom: 0.5rem;
}
