.wrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-main);
  min-height: 100vh;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
