.confirm, .notice, .error {
  animation: fade-in 0.2s ease forwards;
}

.confirm.hidden {
  animation: fade-out var(--time-animation_duration) ease forwards;
}

.confirm .container {
  align-items: center;
  backdrop-filter: blur(0.5rem);
  background: var(--color-background);
  bottom: 0;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  & .content {
    line-height: 1.5;
    max-width: 30rem;
    text-align: center;
    width: 90%;
  }

  & .buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    margin: 1.2rem 0 0;
  }
}

.notice, .error {
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 6rem;
}

.notice.hidden, .error.hidden {
  animation: up-escape var(--time-animation_duration) ease forwards;
}

.notice .container, .error .container {
  align-items: center;
  backdrop-filter: blur(0.5rem);
  background: var(--color-background);
  border-radius: 0.5rem;
  border: 2px solid var(--color-first);
  box-shadow: 0.1rem 0.1rem 1.5rem -0.5rem var(--color-dark_transparent);
  color: var(--color-dark);
  display: flex;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 92%;
  padding: 1rem 1.4rem 1rem 1.6rem;

  & .content {
    padding: 0 0.75rem 0 0;
  }
}

.error .container {
  border: 2px solid var(--color-fourth);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes up-escape {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-4rem);
  }
}
