.welcome {
  padding: 1rem;
}

.title {
  color: var(--color-first);
  font-weight: 600;
  text-align: center;
  margin: 0 0 2rem;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}