.button {
  align-items: center;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-main);
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  padding: 0.5rem 1.2rem;
  text-decoration: none;

  &:not(:focus-visible):focus {
    outline: none
  }
}

.disabled {
  cursor: not-allowed;
}

.primary {
  background: var(--blue-main);
  color: var(--white-plain);
}

.secondary {

}

.white {
  background: var(--white-plain);
  color: var(--blue-main);
}

.large {
  padding: 1.2rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
