.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black-transparent);
}

.inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  cursor: pointer;

  & svg {
    min-width: 80%;
    min-height: 80%;
  }
}

.button:focus {
  outline: none;
}

.filled {
  background-color: var(--black-main);
}

.borderTop {
  border-top: 1px solid var(--black-opaque);
}

.borderRight {
  border-right: 1px solid var(--black-opaque);
}

.borderBottom {
  border-bottom: 1px solid var(--black-opaque);
}

.borderLeft {
  border-left: 1px solid var(--black-opaque);
}
