.button {
  background: var(--main-background);
  padding: 1rem 2rem;
  border: none;
  border-radius: 9999px;
  margin: 2rem;
  color: var(--plain-white);
  font-family: var(--main-font-family);
  font-weight: 600;
  cursor: pointer;
}