.board {
  margin: 1rem auto;
  width: fit-content;
}

.size5 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(5, 2.5rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(5, 2.5rem);
  }

  & .singleHelp {
    font-size: 1.4rem;
  }
}

.size10 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(10, 2rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(10, 2rem);
  }

  & .singleHelp {
    font-size: 1.2rem;
  }
}

.size15 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(15, 1.8rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(15, 1.8rem);
  }

  & .singleHelp {
    font-size: 1.1rem;
  }
}

.size20 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(20, 1.6rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(20, 1.6rem);
  }

  & .singleHelp {
    font-size: 1rem;
  }
}

.size25 {
  & .cells, & .helpColumn {
    grid-template-columns: repeat(25, 1.4rem);
  }

  & .cells, & .helpRow {
    grid-template-rows: repeat(25, 1.4rem);
  }

  & .singleHelp {
    font-size: 0.9rem;
  }
}

.content {
  display: grid;
  grid-template: auto auto / auto auto;
}

.helpColumn {
  display: grid;
  grid-column-start: 2;
  width: 100%;
  margin-bottom: 0.4rem;

  & .singleHelp {
    flex-direction: column;
  }
}

.helpRow {
  display: grid;
  height: 100%;
  margin-right: 0.6rem;
}

.singleHelp {
  align-items: center;
  color: var(--black-main);
  display: flex;
  font-weight: 600;
  gap: .4rem 0.8rem;
  justify-content: flex-end;
}

.cells {
  border: 1px solid var(--black-opaque);
  display: grid;
  width: fit-content;
}
