:root {  
  --black-main: #444;
  --black-opaque: #444a;
  --black-transparent: #4443;
  --blue-main: #09f;
  --blue-clear: #def;
  --white-plain: #fff;
  --white-transparent: #fffd;
  --font-family-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
