.wrapper {
  font-family: var(--main-font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}