#board {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: #555;
}

#board .content {
  display: grid;
  grid-template: 120px 1fr / 120px 1fr;
}

#board .board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  border: 1px solid #444a;
  width: fit-content;
}

#board .cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4443;
}

#board .cell.border-top {
  border-top: 1px solid #444a;
}

#board .cell.border-right {
  border-right: 1px solid #444a;
}

#board .cell.border-bottom {
  border-bottom: 1px solid #444a;
}

#board .cell.border-left {
  border-left: 1px solid #444a;
}

#board .cell .ok,
#board .cell .error,
#board .cell .filled,
#board .cell .unfilled,
#board .cell .button,
#board .cell .state-0,
#board .cell .state-1,
#board .cell .state-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board .cell .error {
  border: 2px solid #e82828;
}

#board .cell .filled {
  background-color: #444;
}

#board .cell .button {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
}

#board .cell .button:focus {
  outline: none;
}

#board .cell .state-2 {
  background: #444;
}

#board .column-help {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(10, 30px);
  width: 100%;
}

#board .row-help {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  height: 100%;
}

#board .help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#board .help.column {
  flex-direction: column;
  padding: 3px 0;
}

#board .help.row {
  flex-direction: row;
  padding: 0 5px;
}

#board .help span {
  margin: 2px 4px 2px;
}
