.loading {
  align-items: center;
  background: var(--white-transparent);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(0.1rem);
}

.spinner {
  animation: spin 1.2s linear infinite;
  border: 0.5rem solid #0001;
  border-top-color: var(--main-background);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}