:root {
  --color-error: #e03333;
  --color-white-transparent: #ffffffe0;

  /* Theme 1 */
  --color-first: #4f7cac;
  --color-second: #c0e0de;
  --color-third: #ec7357;
  --color-fourth: #f4cbc6;
  --color-dark: #3c474b;
  --color-white: #ffffff;

  /* Theme 2 */
  --color-first: #c490d1;
  --color-second: #acacde;
  --color-third: #abdafc;
  --color-fourth: #e5fcff;
  --color-dark: #3c474b;
  --color-white: #ffffff;
  
  /* Theme 3 */
  --color-first: #1b998b;
  --color-second: #601700;
  --color-third: #a76d60;
  --color-fourth: #e0d0c1;
  --color-dark : #254441;
  --color-white: #F7F9F9;
}
